# Environments
env/
venv/
.venv/

# Secrets
.env
*.pem
*.key

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Local notes & dumps
local_notes/
*dump*.sql
*.bak
*.log

# Data raw files
data/raw/
data/outputs/*-checkpoint.*

# Office temporary files (keep only PDF)
~$*.docx
*.docx

# PowerBI
*.pbix

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
